language: php
php:
  - 7.1
  - 7.2
  - 7.3
install:
  - composer install --prefer-source --no-interaction
  - wget http://download.redis.io/redis-stable.tar.gz && tar xzf redis-stable.tar.gz && cd redis-stable && make
  - src/redis-server -v
  - src/redis-server --daemonize yes
  - cd ..
before_script:
  - chmod u+x php-rq-run-tests
script:
  - REDIS_HOST=localhost REDIS_DB=0 ./php-rq-run-tests
